/*.emailWord {
    float: left;
}

*/

.formComponent {

width: 23rem;
margin: 0 auto;
}

.errorFirebase {
   color: red;
   margin-top: 1rem;
}

@media screen and (max-width: 600px) {

    .formComponent {
        width: 15rem;
        margin: 0 auto;
    }
}