.signUp-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5rem 0 0 0;
}

.greeting {
    font-size: 2.1rem
}

.signUp-registration {
    position: relative;
    top: 2rem;
    font-size: 1.1rem;
}