.header {
    position: sticky;
    width: 100%;
    border-bottom: 1px solid seashell;
    height: 89px;
    background-color: white;
    z-index: 1;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    display: inline-block;
}

.leftSection {
    
    color: rgb(0, 135, 197);
    text-align: center;
    font-family: Helvetica;
    display: inline-block;
    
}

.leftSection a {
    color: rgb(0, 135, 197);
    text-decoration: none;
    
}

.rightSection {
    float: right;
    text-align: center;
    font-family: Helvetica;
    display: inline-flex;
}

.rightSection a {
    
    text-decoration: none;
    text-align: center;
    
    
}


.rightSection .signUpLink {
    border: 1px purple;
    background-color: rgb(168, 52, 184);
    border-radius: 0.8rem;
    padding:  0.5rem;
    
}

.signIn{
    padding: 0.5rem;
    
}

