.header {
    position: sticky;
    width: 100%;
    border-bottom: 1px solid seashell;
    height: 89px;
    background-color: white;
    z-index: 1;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    
    
    
}

/*.header-container {
    min-height: 4rem;
    padding: .65rem 0;
    height: 100%;
    
}*/

.leftSection {
    
    color: rgb(0, 135, 197);
    text-align: center;
    font-family: Helvetica;
    display: inline-flex;
    
}

.logo {
    display: inline;
}

.leftSection a {
    color: rgb(0, 135, 197);
    text-decoration: none;
    padding: 0.5rem;
    margin: auto 0.1rem;
    
}



.rightSection {
    
    text-align: center;
    font-family: Helvetica;
    display: inline-flex;
}

.rightSection a {
    
    text-decoration: none;
    text-align: center;
    margin: auto 0.1rem;
    
}


.rightSection .signUpLink {
    border: 1px purple;
    background-color: rgb(168, 52, 184);
    border-radius: 0.8rem;
    padding:  0.5rem;
    
}

.signIn{
    padding: 0.5rem;
    
}

